@font-face {
    font-family: 'NotoSans Regular';
    src: url('../fonts/NotoSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSans Bold';
    src: url('../fonts/NotoSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ShareTechMono Regular';
    src: url('../fonts/ShareTechMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}