.topline {
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;

    &__logo-section {
        display: flex;
        max-height: 140px;
    }

    &__logo {
        width: 160px;
        box-sizing: border-box;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__exchange {
        background: rgba(238, 238, 238, 0.3);


        & table {
            border-collapse: collapse;
            width: 100%;
            height: 100%;
            text-align: center;
            margin-top: -1px;
        }

        & th {
            border: 1px solid #fff;
            padding: 12px 40px;
            border-top: none;
            min-width: 115px;
            width: 50%;
        }

        & td:first-child {
            border-left: 1px solid #fff;
        }

        & td, th {
            color: #fff;
            border-right: 1px solid #fff;
        }

        & tbody tr:first-child td {
            padding-top: 5px;
        }

        & tbody tr:last-child td {
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
        }
    }

    &__menu-top {
        display: flex;
    }

    &__telephone {
        color: #fff;
    }

    &__languages {
        width: fit-content;
    }

    &__language {
        padding: 10px;
        border-radius: 50%;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: $blue;
        }
        
    }
}